<% if (service === 'apple') { %>
  <%- include('../partials/apple') %>
<% } else if (service === 'spotify') { %>
  <%- include('../partials/spotify') %>
<% }%>


<div id="displayPlay">
<% playlists.forEach(function(p) { %>
  <% if (p.service === service) { %>
    <a href="/playlists/<%= p._id %>"><%= p.name %></a>
    <% if (user?._id.equals(p.user)) { %>
      <form action="/playlists/<%= p._id %>?_method=DELETE" method="POST">
        <button type="submit">Remove</button>
      </form>
      <% } %>
  <% } %>
<% }); %> 
</div>

<a id="createBtn" href='/playlists/<%= service %>/new'>Click to create a Playlist</a>

<%- include('../partials/footer') %>