<% if (service === 'apple') { %>
  <%- include('../partials/apple') %>
<% } else if (service === 'spotify') { %>
  <%- include('../partials/spotify') %>
<% }%>

<h1><%= title %></h1>

<form id="createPlaylists" action="/playlists" method="POST">
  <label>
  Playlist Name:
    <input type="text" name="name" autocomplete="off" required>
  </label>
  <label>
  Service:
    <select name="service">
      <option value="<%= service %>"><%= service %></option>
    </select>
  </label>
  <label>
    <button id="createBtn" type="submit">Add a Song</button>
  </label>
</form>

<%- include('../partials/directions') %>

<%- include('../partials/footer') %>