<%- include('../partials/apple') %>

<h1><%= title %></h1>

<form id="createPlaylists" action="/playlists" method="POST">
  <label>
  Playlist Name:
  <input type="text" name="name" autocomplete="off">
</label>
  <label>
  Enter Link:
  <input type="text" name="link" autocomplete="off">
</label>
  <label>
  Service:
    <select name="service">
      <option value="<%= service %>"><%= service %></option>
    </select>
</label>
<label>
  <button type="submit">Add a Song</button>
</label>
</form>

<%- include('../partials/directions') %>

<%- include('../partials/footer') %>