<% if (service === 'apple') { %>
  <%- include('../partials/apple') %>
<% } else if (service === 'spotify') { %>
  <%- include('../partials/spotify') %>
<% }%>

<div id="playlistStyle">
  <% if (user?._id.equals(playlist.user)) { %>
    <form id="createList" method="POST" action="/playlists/<%= playlist._id %>/songs">
      <h3>Add to your playlist!</h3>
      <label>
        Enter embedded link here: 
        <input name="song" required pattern="<iframe(.+)" autocomplete="off">
      </label>
      <label>
        <button id="add" type="submit">Add to Playlist</button>
      </label>
      <%- include('../partials/directions') %>
    </form>
  <% } else { %>
    <h1 id="enjoy">
      <img id="listening" src="https://static.vecteezy.com/system/resources/previews/019/582/368/original/woman-listening-to-music-png.png" alt="girl listening to music">
      Sit back, relax and enjoy this playlist!  
      <img id="listening" src="https://cdni.iconscout.com/illustration/premium/thumb/boy-relaxing-while-listening-music-6592232-5590722.png" alt="boy listening to music">
    </h1>
  <% }%>

  <div id="showPlaylist">
    <h1 id="playTitle"><%= playlist.name %></h1>
    <% if (playlist.songs.length) { %> 
      <% playlist.songs.forEach(function(s) { %>
        <%- s.song %>
        <% if (user?._id.equals(s.user)) { %>
          <form method="POST" action="/songs/<%= s._id %>?_method=DELETE">
            <button id="remove" type="submit">Remove song from playlist</button>
          </form>
        <% } %>
      <% }); %>
    <% } else { %>
        No Songs Yet!
    <% } %>
  </div>
</div>

<div>
  <h3>Comments</h3>
  <form id="addAComments" method="POST" action="/playlists/<%= playlist._id %>/comments">
    <label>
      Comment:
      <textarea id="comments-content" name="comment" rows="1" cols="30"></textarea>
    </label>
    <button id="add" type="submit">Leave Your Comment</button>
  </form>
</div>

<% if (playlist.comments.length) { %> 
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Comments</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% playlist.comments.forEach(function(c) { %>
        <tr>
          <td class="review-user"><img id="avatar" alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
          <td><%= c.comment %></td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td>
            <% if (user?._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button id="remove" type="submit"><img id="trash" src="https://www.freeiconspng.com/thumbs/trash-can-icon/trash-can-icon-28.png" alt="trash"></button>
              </form>
          </td>
          <td>
            <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
              <input name="comment" value="<%= c.comment %>">
              <button id="edit" type="submit">EDIT COMMENT</button>
            </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h3>No comments yet!</h3>
<% } %>

<%- include('../partials/footer') %>