<% if (service === 'apple') { %>
  <%- include('../partials/apple') %>
<% } else if (service === 'spotify') { %>
  <%- include('../partials/spotify') %>
<% } %>
<aside>
  <form 
  id="createSong" 
  action="/playlists/<%= playlist._id %>/songs"
  method="POST">
  <h4>Add to your playlist!</h4>
  <label>
    Enter embedded link here: 
    <input name="song">
  </label>
  <label>
    <button type="submit">Add to Playlist</button>
  </label>
</form>
</aside>

<div id="showPlaylist">
  <h1><%= playlist.name %></h1>
  <% if (user && user.name) { %>
    <h4>Created by <%= user.name %></h4>
    <% } %>
  <!-- <%- playlist.link %>  -->
  <% if (playlist.songs.length) { %> 
  <% playlist.songs.forEach(function(s) { %>
    <%- s.song %>
  <% }); %>
  <% } else { %>
      No Songs Yet!
  <% } %>
</div>


<%- include('../partials/footer') %>